@model IEnumerable<CarRental.Models.Car>
@{
    ViewBag.Title = "Cars";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Cars</h2>

@if (!Model.Any())
{
    <p>We do not hav this car for rent at this moment</p>
}
else
{
    <table class="table table-hover table-bordered">
        <thead>
            <tr>
                <th>Car</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var car in Model)
            {
                <tr>
                    <td>@Html.ActionLink(car.Name, "Details", "Cars", new { id = car.Id }, null)</td>
                </tr>
            }
        </tbody>
    </table>
}

