@model CarRental.Models.Customer
@{
    ViewBag.Title = Model;
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Customer Details</h2>  
  
    <ul> 
        <li>Customer Name: @Model.Name</li>
        <li>Membership Type: @Model.MembershipType.Name</li>
        @if (@Model.BirthDate.HasValue)
        {
            <li>Date of Birth: @Model.BirthDate.Value.ToShortDateString()</li>
        }
        else
        {
            <li>Date of Birth: Not Provided</li>
        }
        
    </ul>
       



