@model IEnumerable<CarRental.Models.Customer>
@{
    ViewBag.Title = "Customers";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Customers</h2>

@if (!Model.Any())
{
    <p>We will add more Customers</p>
}
else
{
    <table class="table table-bordered table-hover">
        <thead>
            <tr>
                <th>Customer</th>
                <th>Discount Rate</th>
                <th>Membership Type</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var Customer in Model)
            {   
                <tr>
                    <td>@Html.ActionLink(Customer.Name, "Details", "Customers", new { id = Customer.Id}, null)</td>
                    <td>@Customer.MembershipType.DiscountRate%</td>
                    <td>@Customer.MembershipType.Name</td>
                </tr>
  
            }
        </tbody>
        
        

    </table>
}

